body{
    margin: 0px;
    display: flex;
    background-image: url("LtS7Q.png");
} 
.e1{
    display: flex;
    font-size: 200%;
    font-style: bold georgia;
    flex-wrap: wrap;
    background-color: rgb(95, 32, 138);
    position: fixed;
    width: 99%;
    padding: 1%;
    z-index: 2;
    color: aliceblue;
    font-weight: 1000;
    letter-spacing: 5px;
    
}
.e2{
    display: flex;
    flex-wrap: wrap;
    height: 120%;
    width: 120%;
    left: 30%;
    padding-left: 60%;
    margin-top: -10%;
}
.e3{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(95, 32, 138) ;
    color: white;
    text-align: center;
    margin-left: 70%;
    margin-top: -20%;
    height: 5%;
    padding-top: 1.5%;
}
.e4{
    display: flex;
    flex-wrap: wrap;
    margin-top: -18%;
    margin-left: 30%;
    width: 250%;
}
.a{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(95, 32, 138) ;
    color: white;
    text-align: center;
    margin-left: -40%;
    margin-top: 380%;
    height: 5%;
}
.g1{
    margin-top: 150%;
    background-color:rgb(95, 32, 138)  ;
    color: white;
}
.g3{
    background-color: rgb(95, 32, 138);
    color: white;
}
